@model List<Book>
@{
    ViewData["Title"] = "Books Database";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="my-4">@ViewData["Title"]</h1>
            <div class="mb-3">
                <a asp-controller="Book" asp-action="Add" class="btn btn-primary">Add New Book</a>
            </div>

            <table class="table table-bordered table-hover table-dark table-striped" id="databaseInfoTable">
                <thead class="table table-bordered">
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Publication Year</th>
                        <th>Genre</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var book in Model)
                    {
                        <tr>
                            <td>@book.Title</td>
                            <td>@book.Author</td>
                            <td>@book.PublicationYear</td>
                            <td>@book.Genre.Name</td>
                            <td>
                                <a asp-controller="Book" asp-action="Edit"
                               asp-route-id="@book.BookId" class="btn btn-sm btn-warning me-2">Edit</a>
                                <a asp-controller="Book" asp-action="Delete"
                               asp-route-id="@book.BookId" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
